<html>
<head>
  <link href="/stylesheets/style.css" media="screen" rel="stylesheet" type="text/css" />
</head>	
  <body>
    <h1><%= title %></h1>
    <h3><a href="/">Home</a></h3>
    <div id="wrapper">
    <%- body %>
    </div>
    <a href="/posts/new">New</a>
  </body>
</html>