<form method="post">
  <div>
    <div>
      <span>Title :</span>
      <input type="text" name="title" id="editPostTitle" />
    </div>
    <div>
      <span>Body :</span>
      <textarea name="body" rows="20" id="editPostBody"></textarea>
    </div>
    <div id='editPostSubmit'>
      <input type="submit" value="Send" />
    </div>
  </div>
</form>