<div class="post">
<div class="title"><a href="/posts/<%= post._id.toHexString() %>"><%= post.title %></a></div>
<div class="created_at"><%= post.created_at %></div>
<div class="body"><%= post.body %></div>
</div>